.date-num {
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 4px;
    font-size: 23px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.budget-card {
    background-color: rgba(66, 66, 66, 0.74);
    font-family: 'Pontano Sans', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.budget-header {
    font-size: 22px;
    text-align: center;
}

.total-cost {
    font-size: 18px;
}

.trip-cost {
    font-size: 28px;
    color: white;
    background-color: rgba(255, 255, 255, 0.404);
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.money-saved {
    font-size: 18px;
}

.total-saved {
    color: white;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 4px;
}


@media screen and (max-width:470px) {
    .budget-header {
        font-size: 20px;
    }

    .total-cost {
        font-size: 17px;
    }

    .trip-cost {
        font-size: 27px;
        margin-bottom: 2rem;
    }

    .money-saved {
        font-size: 17px;
    }

    .total-saved {
        font-size: 27px;
        width: 10rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
}

@media screen and (max-width:780px) {
    .budget-header {
        font-size: 20px;
    }

    .total-cost {
        font-size: 17px;
    }

    .trip-cost {
        font-size: 26px;
        margin-bottom: 2rem;
    }

    .money-saved {
        font-size: 17px;
    }

    .total-saved {
        font-size: 26px;
        width: 10rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
}

